# Nega acesso aos arquivos .inc e .ini
<Files ~ "\.(ini|inc)$">
    Order allow,deny
    Deny from all
</Files>

# Configurações de opções
Options +MultiViews

# Remove a extensão para arquivos .php
<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews
    RewriteEngine on

    # Remove a extensão .php dos URLs
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}\.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Preserva o cabeçalho de autorização
    RewriteCond %{HTTP:Authorization} ^Basic\s(.+)$ [NC]
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
</IfModule>

# Variáveis de ambiente (production)
#SetEnv APP_DIRECTORY /dev/template-pwa-bancada/
#SetEnv CMS_DIRECTORY /dev/template-pwa-bancada/cms/

# Variáveis de ambiente (development)
SetEnv APP_DIRECTORY /
SetEnv CMS_DIRECTORY /cms/