<section id="ad" class="webapp-view-container section-media media media-multitrack">
    <div class="multritrack-navigation control-left">
        <button id="btn_prev" class="button-rounded button-rounded-previous "  aria-label="Anterior"></button>
    </div>
<div class="component-container">

    <div class="component-container text">
        <h1 class="txt_heading_pwa item-title">.</h1>
    </div>
    <div id="component-card-image" class="component-card-image" style="display:none;">
        <img class="banner" src="assets/images/sample.jpg" alt="." title=".">
    </div>

        <div id="component-card-audio" class="component-card-player">
            <div class="content">
                
                <audio id="audio" controls controlslist="nodownload" class="audio track_file do_playback" src="storage/media/audio/sample.mp3" >
                    <source src="" type="audio/mp3">
                    <p>Seu navegador não suporta este recurso.</p>
                </audio>
                
                
            </div>
        </div>

    </div>

    <div class="multritrack-navigation control-right">
        <button id="btn_next" class="button-rounded button-rounded-next " aria-label="Próximo"></button>
    </div>

            
</section>

