
<section id="changelog"  class="changelog">
    <style>
        .radio-group {
            
            width: 20%;
        }
        .radio-group label {
            display: block;
            margin: 5px 0;
        }
    </style>
<div class="flex-home">


<div class="component-container text">
    <h1>Versão: 1.6.0</h1>
</div>

<div class="component-container">

    <ul id="settings-list" class="component-cfg-list"> 
        <!-- [+]itens --> 
        <li>          
            <div class="cfg-list-flex us_audio_autoplay">                  
                <div class="content">                      
                    <p class="txt_subtitle3"><small>21/05/2024 (1.6.0)</small> - Criação da changelog de controle de versões.</p>                      
                    <p class="txt_body"><small>Criação da changelog de controle de versões e mudanças do webapp</small></p>                  
                </div>              
                       
            </div>      
        </li>  
        <!-- [-]itens -->

        <!-- [+]itens --> 
         <li>          
            <div class="cfg-list-flex us_audio_autoplay">                  
                <div class="content">                      
                    <p class="txt_subtitle3"><small>21/05/2024 (1.6.0)</small> - Visualização dos controles de navegação.</p>                      
                    <p class="txt_body"><small>Opções de exibição dos controles de navegação quando o recurso acessível possui mais de um item.</small></p>                  
                </div>              
                       
            </div>      
        </li>  
        <!-- [-]itens -->

       

    </ul>
</div>

<div class="component-container "  >
    <button id="btn_voltar" class="button-primary" style="width: 20%; margin: 0 auto;">VOLTAR</button>
</div>

</section>


		