
<section id="libras" class="webapp-view-container section-media media media-multitrack" >

    <div class="multritrack-navigation control-left">
        <button id="btn_prev" class="button-rounded button-rounded-previous "  aria-label="Anterior" style="display: none;"></button>
    </div>

<div class="component-container video">

    <div class="component-container text">
        <h1 class="txt_heading_pwa item-title">&nbsp;</h1>
    </div>

    <div id="component-card-image" class="component-card-image" style="display:none;">
        <img class="banner" src="assets/images/sample.jpg" alt="." title=".">
    </div>

        <div id="component-card-video" class="component-card-player-video">
            
                <video id="videoElm"  controls="" disablepictureinpicture="" controlslist="nodownload" class="video"  src="storage/media/video/sample-2.mp4#t=0.001">
                    <source src="" type="video/mp4">
                    Seu navegador não oferece suporte ao recurso.
                </video>

          
        </div>

    </div>
 <div class="multritrack-navigation control-right">
        <button id="btn_next" class="button-rounded button-rounded-next " aria-label="Próximo" style="display: none;"></button>
    </div>


</section>
