
<section id="preloader" aria-label="Conteúdo inicial"  class="preloader-view">

<div class="flex-home">

<div class="component-container logo" style="margin-bottom:25px;">
 <img src="assets/pwa/preloader-install-logo.svg" 
    alt="Instalação do pwa - imagem ilustrativa" 
    title="Instalação do pwa - imagem ilustrativa" 
    class="translate-image"
    >
</div>


<div class="component-container text" style="width:85%;">
    <h1 style="padding:initial;margin:initial;">PREPARANDO A INSTALAÇÃO</h1>
    <h2 style="padding:12px;margin:initial;font-size: 16px;" class="title_elm">ITAIPU BARRAGEM</h2>
    <div class="component-container loader">
        <div class="progress-bar" style="width: 0px;"></div> <!-- Barra de progresso -->
    </div>
    <div class="loader-text" style="padding:12px;margin:initial;font-size: 18px;">0%</div> <!-- Texto de carregamento -->
    <p style="text-align:center;" class="text-loader-info">
        <small>Certifique-se de não atualizar ou fechar esta página até que o carregamento seja concluído.</small>
    </p>
</div>

<div class="component-container install_button" style="display:none;" >
    <button id="btn_install" class="button-primary" aria-label="Instale este PWA no seu dispositivo">INSTALAR</button>
</div>

<div class="component-container install_button" style="display:none;" >
    <button id="btn_follow_app" class="button-secondary" aria-label="Prosseguir sem instalar o PWA">NÃO INSTALAR E PROSSEGUIR</button>
    <p class="text-postinstall-info" style="text-align:center;"> <small >Esta opção de instalação não será exibida novamente.<br>Posteriormente, você poderá instalar o PWA através das opções do navegador em seu dispositivo.</small> </p>
        </div>

</section>
