<section id="texto" class="webapp-view-container section-texto media-multitrack" >
        
        <div class="multritrack-navigation control-left">
                <button id="btn_prev" class="button-rounded button-rounded-previous "  aria-label="Anterior"></button>
        </div>

<div id="component-texto" class="component-container texto">

        <div id="component-card-image" class="component-card-image">
                <img class="banner" src="assets/images/sample.jpg" alt="." title=".">
            </div>
            <div id="component-card-text" class="content-text">.</div>
        
</div>

        <div class="multritrack-navigation control-right">
                <button id="btn_next" class="button-rounded button-rounded-next " aria-label="Próximo"></button>
        </div>

</section>
